.section-header{
  background-image: url(../images/fondo_3.jpg);
  height: calc(90vh - 0px);
  padding-top: 300px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: left;
  /* overflow: hidden; */
  z-index: 11;
  .container{
    max-width: 1370px;
    align-items: center;
  }

  &-title{
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 40px;
    text-align: center;
    &-light{
      font-weight: 100;
      letter-spacing: 40px;
    }
  }
  &-description{
    margin-top: 24px;
    font-size: 16.5px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 32px;
  }
}